{include file="header.tpl"}
{include file="navigation.tpl"}
<!-- File: homewax.tpl -->
  <div class="content text">
      <h2>
        Vernacular Wax Cylinder Recordings at the UCSB Library
      </h2>
      <div class="center-img-horiz">
        <img class="pure-img" src="/images/homewax.jpg" alt="Record slip">
        <p class="img-description center-text">Slip accompanying <a href="https://www.library.ucsb.edu/OBJID/Cylinder12857">recording of Rachel C. Wombough</a> (1815-1903), the earliest-born American woman known to exist on record.</p>
      </div>
      <p>The  UCSB Library&rsquo;s <a href="http://www.library.ucsb.edu/special-collections">Department  of Special Collections</a> houses more than <a href="/search.php?nq=1&query=personal+recordings&query_type=subject&nq=1">650 vernacular wax cylinder  recordings</a>, or home wax recordings, from the 1890s through the 1920s that  capture the early spirit of the public&rsquo;s interaction with recording technology. In March 2015 the collection was added to the <a href="https://www.loc.gov/programs/national-recording-preservation-board/recording-registry/registry-by-induction-years/2014/">2014 National Recording Registry</a> at the Library of Congress and may be the world&rsquo;s largest and most diverse collection of early vernacular sound recordings.</p>
      <p>The bulk of the collection is from the <a href="/search.php?nq=1&query=David+Giovannoni+Collection+home+cylinder+recordings+&query_type=keyword">David Giovannoni Collection of Home Cylinder Recordings</a> at the University of California Santa Barbara. It offers a unique opportunity to time-travel through sound&mdash;to eavesdrop on the private lives of our forebears. We hope that making the collection available online for all to hear will lead to a new appreciation and understanding of this rich but overlooked part of our heritage of historic recorded sound.</p>
      <p>The home recordings found in this collection weren&rsquo;t always literally made in people&rsquo;s homes. Instead, they&rsquo;re the audio equivalent of what Richard Chalfen calls the &ldquo;home-mode of visual communication&rdquo;<a href="homewax.php#note1">1</a>&mdash;which is to say, they involve the use of media for intimate, private, and personal purposes rather than public, impersonal ones. They can be distinguished both from commercial recordings made by the recording industry for popular exhibition and sale and from field recordings made by collectors for institutional preservation and academic study.</p>
      <p>For many years, home recordings weren&rsquo;t valued as highly as commercial or field recordings. Even today, some phonograph enthusiasts are all-too-ready to shave home-recorded cylinders from a century or more ago to reuse the blanks for making new recordings. To some extent, then, this represents a longterm, concerted rescue operation. Its nucleus was assembled in the 1970s and 1980s by Don Hill, one of the first people to recognize the value of home recordings as anthropological artifacts. David Giovannoni acquired Hill&rsquo;s collection in the mid-1990s and added steadily to it up until the time of its acquisition by USCB in 2013.</p>
      <p>Home, commercial, and field recordings can all feature vernacular performance traditions, oral histories, and the like, but commercial and field recordings have generally been initiated by outsiders for their own purposes and shaped with those purposes in mind. The recording industry has aimed to capture material  that will sell, while fieldworkers have sought to document specific kinds of material that are of academic or artistic interest to them. By contrast, home recordings are made by and among groups of family and friends for their own use and enjoyment. The act of recording doesn&rsquo;t intrude on the vernacular performance context as it does in the other cases, but instead heightens and extends it. We get to hear what ordinary people chose to record, and how they chose to adapt it to the medium, when they were in charge of the equipment and weren&rsquo;t being told what to do by someone else.</p>
      <p>And the results are often astounding. Together with hymns well-known and obscure, <a href="/search.php?nq=1&query=Stephen+Foster&query_type=keyword">Stephen Foster songs</a>, and umpteen rounds of &ldquo;<a href="/search.php?nq=1&query=Marching+Through+Georgia&query_type=keyword">Marching Through Georgia</a>,&rdquo; the collection contains:</p>
      <ul>
        <li> The oldest known recordings of American vernacular <a href="/search.php?nq=1&query_type=keyword+&query=fiddle">fiddle</a> music, including two announced as made in <a href="https://www.library.ucsb.edu/OBJID/Cylinder13005">1900</a> and <a href="https://www.library.ucsb.edu/OBJID/Cylinder12824">1905</a>.</li>
        <li> Recordings of traditional songs, many of which would not be captured as audio by ethnographic fieldworkers until decades later. These are often heard here in versions that differ significantly from those documented elsewhere, as with &ldquo;<a href="https://www.library.ucsb.edu/OBJID/Cylinder13201">Boring For Oil</a>,&rdquo; &ldquo;<a href="https://www.library.ucsb.edu/OBJID/Cylinder13015">El Soldado Americano</a>,&rdquo; and &ldquo;<a href="https://www.library.ucsb.edu/OBJID/Cylinder13054">Mrs. McLaughlin&rsquo;s Party</a>.&rdquo; Others combine traditional elements in unique ways or present songs that seem otherwise to have vanished without a trace, as with &ldquo;<a href="https://www.library.ucsb.edu/OBJID/Cylinder12996">Arkansas Pat</a>&rdquo; and one unidentified song about <a href="https://www.library.ucsb.edu/OBJID/Cylinder12809">Irish emigration to America</a>.</li>
        <li> An authentic record of the <a href="https://www.library.ucsb.edu/OBJID/Cylinder12939">squealing of pigs and other barnyard sounds</a>&mdash;one of the earliest surviving recordings of real animal noises as opposed to human imitations of them.</li>
        <li> A recording of British banjo virtuoso <a href="https://www.library.ucsb.edu/OBJID/Cylinder13017">David Milner</a> playing &ldquo;at home.&rdquo;</li>
        <li> A series of brief speeches commemorating <a href="https://www.library.ucsb.edu/OBJID/Cylinder12955">January 1, 1900</a>.</li>
        <li> Probably the earliest extant recordings of the songs &ldquo;<a href="https://www.library.ucsb.edu/OBJID/Cylinder13216">I&rsquo;ve Been Working on the Railroad</a>&rdquo; and &ldquo;<a href="https://www.library.ucsb.edu/OBJID/Cylinder13042">Oh, My Darling Clementine</a>,&rdquo; although exact recording dates aren&rsquo;t known.</li>
        <li> A phonographic sales pitch for the <a href="https://www.library.ucsb.edu/OBJID/Cylinder13068">Vikings&rsquo; Remedy</a>, a wholesome medicine that &ldquo;cures when doctors fail,&rdquo; but that is otherwise lost to history.</li>
        <li> At least three independent efforts by different people to call their dogs by phonograph in the spirit of &ldquo;His Master&rsquo;s Voice.&rdquo; (Cylinders <a href="https://www.library.ucsb.edu/OBJID/Cylinder13057">13057</a>, <a href="https://www.library.ucsb.edu/OBJID/Cylinder13219">13219</a>, <a href="https://www.library.ucsb.edu/OBJID/Cylinder13222">13222</a>, <a href="https://www.library.ucsb.edu/OBJID/Cylinder13263">13263</a>) </li>
        <li> Singing by a <a href="https://www.library.ucsb.edu/OBJID/Cylinder12920">Civil War veteran</a> of the Second Maine Cavalry.</li>
        <li> Numerous amateur recitations, including Lincoln&rsquo;s <a href="https://www.library.ucsb.edu/OBJID/Cylinder13003">Gettysburg Address</a> and two dialect pieces authored by African-American poet Paul Laurence Dunbar: &ldquo;<a href="https://www.library.ucsb.edu/OBJID/Cylinder13229">In the Morning</a>&rdquo; and &ldquo;<a href="https://www.library.ucsb.edu/OBJID/Cylinder12830">Breaking the Charm</a>.&rdquo;</li>
        <li> Mendel Jonas&mdash;a Jewish clothier of Goshen, New York&mdash;listing in German the<a href="https://www.library.ucsb.edu/OBJID/Cylinder13031"> major events of his life</a> during a gathering on his sixty-fourth birthday, noting among other things his birth in Deutsch Ostrowo (now Ostr&oacute;w Wielkopolski) in 1842, his Prussian military service in 1864, and his emigration to America in 1866.</li>
      </ul>
      <p>Three &ldquo;channel rim&rdquo; cylinders from the North American period contain the oldest dated recordings in the collection (<a href="https://www.library.ucsb.edu/OBJID/Cylinder13010">1893</a>, <a href="https://www.library.ucsb.edu/OBJID/Cylinder13303">1894</a>, and <a href="https://www.library.ucsb.edu/OBJID/Cylinder12829">1895</a>). There may be recordings as old or older but their dates are not stated in the recordings themselves.</p>
      <p>The collection also contains larger groupings of cylinders created by the same people and discovered together years later, providing more in-depth coverage of the lives of some individual families and communities. Among these sets are:</p>
      <ul>
        <li><strong><a href="/search.php?nq=1&query=William+Henry+Greenhow+Collection&query_type=keyword">The William Henry Greenhow Collection</a></strong> (7 cylinders): William Henry Greenhow (1845-1918) was the publisher of the Hornell (New York) Evening Tribune, and the cylinders he recorded between 1898 and 1902 are notable partly for the sheer age of the people whose voices we hear on them. These include his mother, Mary Frodsham Greenhow (1823-1906), who sings some of his &ldquo;childhood songs,&rdquo; and his late sister&rsquo;s mother-in-law, Rachel C. Wombough (1815-1903), who talks about her late husband coming to Addison County in 1804, and who is the earliest-born American woman whose voice is known to survive on record&mdash;P. T. Barnum, born in 1810, is the only American with an earlier birthdate whose recorded voice we can hear today. Another highlight of the set is a cylinder recorded on the fiftieth anniversary of the wedding of David and Olive Wellever, which had taken place in 1850; Olive&rsquo;s sister Rebecca reminisces into the phonograph about &ldquo;how the bride was dressed fifty years ago.&rdquo;</li>
        <li> <strong><a href="/search.php?nq=1&query=Rittersville+Collection&query_type=keyword">Rittersville Collection</a></strong> (21 cylinders): Featuring the Rittersville Choir and Sunday School, a brass band, and local performers on cornet, piano, and organ, this collection furnishes an impressive overview of the turn-of-the-century musical life of this Eastern Pennsylvania village, since annexed by Allentown, Pennsylvania.</li>
        <li> <strong><a href="/search.php?nq=1&query=hill+Moses+Collection&query_type=keyword">The F. E. Moses Collection</a> </strong>(28 cylinders): This collection was created between 1908 and 1911 by the family of Franzi Enoch Moses (1857-1947), a stock farmer of Wayne County, Nebraska. Moses had been the first settler in what is now Brenna Precinct, which he had named in memory of his late sister Brenna&mdash;one of the cylinders is also announced as a &ldquo;Brenna Record&rdquo; made on &ldquo;Brenna Ranch.&rdquo; Three generations of the Moses family are represented here telling stories, performing music on flute or violin, or giving talks on subjects ranging from prehistoric man to the cultivation of alfalfa to the direct election of senators. We also hear a lively instrumental duet by the family&rsquo;s Swedish immigrant neighbors, Olof and Christina Anderson, and a mock auction of the Moses farm by local farmer and real estate agent Clyde Oman.</li>
        <li> <strong><a href="/search.php?nq=1&query=Florian+Fuchs+Collection&query_type=keyword">The Florian Fuchs Collection</a></strong> (33 cylinders): The son of a Lower Austrian butter-maker and innkeeper, Florian Fuchs (1870-1928) immigrated to the United States as a teenager in 1887 and settled in Pierce County, Nebraska, where he married, had ten children, and prospered as the proprietor of Valley View Stock Farm. In 1912, he took a trip back to his native country and visited the village of Ullrichs, where he had been born and raised. While he was there, his relatives and their friends recorded a wide assortment of cylinders for him, including spoken messages of goodwill, singing with zither accompaniment, a traditional Brautlied or bridal song, and even the tolling of the local church bell, giving him a unique audio self-portrait of his home community to take back with him to America.</li>
        <li><strong><a href="/search.php?nq=1&query=embree&query_type=keyword">The Frank Lawrence Embree Collection</a></strong> (37 cylinders): Frank Lawrence Embree (b. 1863) pursued a varied career as a book and art dealer, publisher, agent for an antique furniture concern, composer, poet, and purveyor&mdash;through his Arabian Fruits Company&mdash;of a constipation remedy compounded of raisins, prunes, dates, and figs. He spent much of his working life in New York City, but he also maintained a summer residence called Duck-Puddle Farm near Bristol, Maine, and bred dogs in Charlestown, New Hampshire. To entertain himself and his family and friends while he was away from the metropolis in these places, he had a Columbia Graphophone together with a large assortment of commercially prerecorded cylinders. He also had a recorder, and while he made some straightforward home recordings with it, he also used it in some less typical ways. Whenever a guest came to call, Embree liked to take a commercially prerecorded cylinder and record a customized message to &ldquo;Mister Graphophone&rdquo; in the blank space left over at the end as a quick demonstration of how well the machine could reproduce his speech. At other times, he would instead drop his recorder into the middle of a commercial music cylinder and record himself singing or whistling along with the music, giving us some of the earliest known examples of sound-on-sound overdubbing. Embree let his talking machine languish for a while shortly after the turn of the century, but in 1915 he dusted it off for another chat with &ldquo;Mister Graphophone,&rdquo; reflecting on what a good friend it had been in years past. &ldquo;All of these records will be very interesting in time to come,&rdquo; he remarked, &ldquo;when all these people have passed away.&rdquo;</li>
      </ul>


      <p><em>&ndash;Patrick Feaster, December 2013. </em></p>
      <p>Click <a href="/search.php?nq=1&query=David+Giovannoni+Collection+home+cylinder+recordings+&query_type=keyword">here</a> to see a list of all the recordings that make up the David Giovannoni Collection of Home Cylinder Recordings. For a list of all of the home recordings in the library's collection, <a href="/search.php?nq=1&query=personal+recordings&query_type=keyword">click here</a>. </p>
      <p>1<a name="note1"></a>. <a href="https://scholarworks.iu.edu/dspace/bitstream/handle/2022/2602/BSS%2013%2019-25.pdf">https://scholarworks.iu.edu/dspace/bitstream/handle/2022/2602/BSS%2013%2019-25.pdf</a></p>
</div><!-- end .content -->
<!-- End of file: homewax.tpl -->
{include file="footer.tpl"}
